body{
    background-color: #FFFFFF;
}

.container {
    display: flex;
    width: 50%;
    margin: auto;
    border: 1px solid black ;
    padding: 15px;
    border-radius: 15px;
    background-color: #FDFDFD;
}

.left {
    flex: 1;
    padding: 20px;
}

.right {
    flex: 1;
    padding: 20px;
    text-align: center; /* To center the image horizontally */
}

img {
    max-width: 100%;
    max-height: 100%;
}


h2{
    margin: auto;
}
